body{
    border: 1px solid black;
    font-family: 'PT Sans', sans-serif;
    background-color: #252529;
    margin: 0;
    color: #fff;
    line-height: 1.8;
}
a{
    text-decoration: none;
    color: #ccc;
    padding: 10px 18px;
}
nav{
    border: 1px solid black;
    height: 50px;
    background-color: #333333;
    word-spacing: 17px;
    line-height: 50px;
    padding-left: 30px;
    position: fixed;
    top: 0px;
    width: 100%;
}
nav a:hover{
    background: #444;
    padding: 22px 18px;
}
#main-container>div{
    background-image: url(image/showcase.jpeg);
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 120px 100px;
}
#main-container > div > h1,h2,p{
    grid-column: 1/4;
    text-align: center;
}
#main-container > div > h1{
    font-size: 4rem;
    line-height: 300px;
}
#main-container > div > h2{
    font-size: 2rem;
}
#main-container > div > p{
    padding: 1px 150px;
    font-size: larger;
}
#sect1{
    width: 100%;
    min-height: 100vh;
}
#sect1 h2{
    font-size: 3rem;
    padding-top: 35px;
}
#sect1 h3{
    font-size: 2rem;
    text-align: center;
}
#sect1 p{
    padding: 1px 100px;
    font-size: larger;
    padding-top: 3%;
    padding-bottom: 3%;
}
#sect1 a{
    border: 1px;
    padding: 18px;
    background-color: #b90415;
    margin-left: 35rem;
    font-size: larger;
}
#sect1 a:hover{
    background-color: #d3071b;
}
#sect2{
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    color: #252529;
}
#sect2 > div > img{
    padding-left: 7%;
}
#sect2 > div > h3{
    font-size: 2rem;
    text-align: center;
    padding-top: 70px;
}
#sect2 > div > p{
    padding: 1px 100px;
    font-size: larger;
    padding: 3% 7%;
    text-align: justify;
}
#sect2 > div > a{
    border: 1px;
    padding: 20px;
    background-color: #103063;
    margin-left: 38rem;
    font-size: larger;
    line-height: 60px;
}
#sect2 > div > a:hover{
    background-color: #143f85;
}
#sect3{
    width: 100%;
    min-height: 100vh;
    background-image: url(image/section-bg.jpeg);
    background-position: center;
    background-size: cover;
}
#sect3 h3{
    font-size: 2rem;
    text-align: center;
    padding-top: 200px;
}
#sect3 p{
    font-size: larger;
    padding: 3% 7%;
}
#sect4{
    min-height: 90vh;
    background-color: #fff;
    color: #252529;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 590px ;
    column-gap: 50px;
}
#sect4 h2{
    font-size: 2rem;
    text-align: left;
    padding-top: 50px;
}
#sect4 #para1{
    padding: 3% 7% 3% 1%;
    font-size: large;
    text-align: justify;
}
#para2{
    font-size: x-large;
    text-align: left;
    line-height: 100%;
}
ul{
    list-style: none;
}
#footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 280px;
    gap: 7%;
    padding-left: 50px;
    padding-right: 80px;
}
#bottom{
    background-color: #444;
    height: 60px;
    text-align: center;
    font-size: larger;
    line-height: 55px;
}